* {
    padding: 0; 
    margin: 0;
}

html {
    font-size: 62.5%;
}

.wrapper {
    max-width: 1280px; 
    width: 95%; 
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none; 
    color:inherit;
}

a:visited {
    color:inherit
}

img {
    width: 100%; 
    height: auto; 
    display: block;
}

body {
    @include barlow;
    color: $white;
}

header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

.h-second,
.h-third {
    @include josefin(4.5rem, 99.8px , 400);
}

.h-third {
    color: $yellow;
}

.h-fourth {
    @include josefin(4rem, 58px , 400);
    letter-spacing: 1.3px;
}

.h-fifth {
    @include josefin(2.5rem, 58px , 400);
    letter-spacing: 0.8px;
    color: $yellow;
}

.pine-background,
.dark-background {
    width: 100%;
    margin: 0 auto;
}

.pine-background {
    background-color: $pine;
}

.dark-background {
    background-color: $almost-black;
}

.button {
    @include josefin(2.24rem, 41.6px , 400);
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
}

.mobile-only {
    display: none;
}

// I original did the font sizes in pixels to match the style guide but then realized rem might be better so I coverted them to the rem equivalent, I left the line spacing in pixels, is this okay or is it better to either use either all pixels or all rems?